<article class="publication"><p class="paper-venue">SIGIR 2023</p>
<h3>MoocRadar: A Fine-grained and Multi-aspect Knowledge Repository for Improving Cognitive Student Modeling in MOOCs</h3>
<p class="paper-authors"><b>Jifan Yu</b>, Mengying Lu, Qingyang Zhong, Zijun Yao, Shangqing Tu, Zhengshan Liao, Xiaoya Li, Manli Li, Lei Hou, Hai-Tao Zheng, Juanzi Li, Jie Tang</p>
<div class="paper-links">
<a href="https://arxiv.org/pdf/2304.02205.pdf">PDF ↗</a><a href="https://github.com/THU-KEG/MOOC-Radar">Repository ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this paper, we present MoocRadar, a fine-grained, multi-aspect knowledge repository consisting of 2,513 exercise questions, 5,600 knowledge concepts, and over 12 million behavioral records. Specifically, we propose a framework to guarantee a high-quality and comprehensive annotation of fine-grained concepts and cognitive labels.</p></details></article>

<article class="publication"><p class="paper-venue">ACL 2023</p>
<h3>Distantly Supervised Course Concept Extraction in MOOCs with Academic Discipline</h3>
<p class="paper-authors">Mengying Lu, Yuquan Wang, <b>Jifan Yu</b> (Corresponding Author), Yexing Du, Lei Hou, Juanzi Li</p>
<div class="paper-links"><a href="https://github.com/THU-KEG/MOOC-NER">Dataset &amp; Code ↗</a></div>
<details class="paper-abstract"><summary>About this paper</summary><p>We present a novel three-stage framework DS-MOCE, which leverages the power of pre-trained language models explicitly and implicitly and employs discipline-embedding models with a self-train strategy based on label generation refinement across different domains.</p></details></article>

<article class="publication"><p class="paper-venue">ACL 2023 Demo</p>
<h3>VisKoP: Visual Knowledge oriented Programming for Interactive Knowledge Base Question Answering  <span class="paper-award"><i>(Best Demo Paper Award)</i></span>
</h3>
<p class="paper-authors">Zijun Yao, Yuanyong Chen, Xin Lv, Shulin Cao, Amy Xin, <b>Jifan Yu</b>, Hailong Jin, Jianjun Xu, Peng Zhang, Lei Hou, Juanzi Li</p>
<div class="paper-links">
<a href="https://arxiv.org/pdf/2307.03130">Paper ↗</a><a href="https://pypi.org/project/kopl-engine">Demo ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>We present Visual Knowledge oriented Programming platform (VisKoP), a knowledge base question answering (KBQA) system that integrates human into the loop to edit and debug the knowledge base (KB) queries.</p></details></article>

<article class="publication"><p class="paper-venue">EMNLP 2023</p>
<h3>Exploring the Cognitive Knowledge Structure of Large Language Models: An Educational Diagnostic Assessment Approach</h3>
<p class="paper-authors">Zheyuan Zhang*, <b>Jifan Yu</b>*, Juanzi Li, Lei Hou</p>
<div class="paper-links"><a href="https://arxiv.org/pdf/2310.08172">Paper ↗</a></div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this paper, based on educational diagnostic assessment method, we conduct an evaluation using MoocRadar, a meticulously annotated human test dataset based on Bloom Taxonomy.</p></details></article>


<article class="publication"><p class="paper-venue">EMNLP 2023</p>
<h3>Mastering the Task of Open Information Extraction with Large Language Models and Consistent Reasoning Environment <span class="paper-award"><i>(Outstanding Paper)</i></span>
</h3>
<p class="paper-authors">Ji Qi, Kaixuan Ji, Xiaozhi Wang, <b>Jifan Yu</b>, Kaisheng Zeng, Lei Hou, Juanzi Li, Bin Xu</p>
<div class="paper-links"><a href="https://arxiv.org/pdf/2310.10590">Paper ↗</a></div>
<details class="paper-abstract"><summary>About this paper</summary><p>As the large language models (LLMs) have exhibited remarkable in-context learning capabilities, a question arises as to whether the task of OIE can be effectively tackled with this paradigm? In this paper, we explore solving the OIE problem by constructing an appropriate reasoning environment for LLMs.</p></details></article>


<article class="publication"><p class="paper-venue">KDD 2023</p>
<h3>GLM-Dialog: Noise-tolerant Pre-training for Knowledge-grounded Dialogue Generation</h3>
<p class="paper-authors">Jing Zhang*, Xiaokang Zhang*, Daniel Zhang-Li*, <b>Jifan Yu</b>*, Zijun Yao, Zeyao Ma, Yiqi Xu, Haohua Wang, Xiaohan Zhang, Nianyi Lin, Sunrui Lu, Juanzi Li, Jie Tang</p>
<div class="paper-links">
<a href="https://github.com/RUCKBReasoning/GLM-Dialog">Dataset &amp; Code ↗</a><a href="https://arxiv.org/pdf/2302.14401.pdf">PDF ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>We present GLM-Dialog, a large-scale language model (LLM) with 10B parameters capable of knowledge-grounded conversation in Chinese using a search engine to access the Internet knowledge. GLM-Dialog offers a series of applicable techniques for exploiting various external knowledge including both helpful and noisy knowledge, enabling the creation of robust knowledge-grounded dialogue LLMs with limited proper datasets.</p></details></article>

<article class="publication"><p class="paper-venue">CIKM 2023</p>
<h3>LittleMu: Deploying an Online Virtual Teaching Assistant via Heterogeneous Sources Integration and Chain of Teach Prompts</h3>
<p class="paper-authors">Shangqing Tu, Zheyuan Zhang, <b>Jifan Yu</b>, Chunyang Li, Siyu Zhang, Zijun Yao, Lei Hou, Juanzi Li</p>
<div class="paper-links"><a href="https://dl.acm.org/doi/pdf/10.1145/3583780.3615484">PDF ↗</a></div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this paper, we present a virtual MOOC teaching assistant, LittleMu with minimum labeled training data, to provide question answering and chit-chat services.</p></details></article>

<article class="publication"><p class="paper-venue">CIKM 2023</p>
<h3>GOAL: A Challenging Knowledge-grounded Video Captioning Benchmark for Real-time Soccer Commentary Generation</h3>
<p class="paper-authors">Ji Qi*, <b>Jifan Yu</b>*, Teng Tu, Kunyu Gao, Yifan Xu, Xinyu Guan, Xiaozhi Wang, Bin Xu, Lei Hou, Juanzi Li, Jie Tang</p>
<div class="paper-links">
<a href="https://arxiv.org/pdf/2303.14655v1.pdf">Paper ↗</a><a href="https://github.com/THU-KEG/goal">Repository ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this paper, we present GOAL, a benchmark of over 8.9k soccer video clips, 22k sentences, and 42k knowledge triples for proposing a challenging new task setting as Knowledge-grounded Video Captioning (KGVC).</p></details></article>

<article class="publication"><p class="paper-venue">NeuraIPS 2023 Benchmarking Track</p>
<h3>Benchmarking Foundation Models with Language-Model-as-an-Examiner</h3>
<p class="paper-authors">Yushi Bai, Jiahao Ying, Yixin Cao, Xin Lv, Yuze He, Xiaozhi Wang, <b>Jifan Yu</b>, Kaisheng Zeng, Yijia Xiao, Haozhe Lyu, Jiayin Zhang, Juanzi Li, Lei Hou</p>
<div class="paper-links">
<a href="https://proceedings.neurips.cc/paper_files/paper/2023/file/f64e55d03e2fe61aa4114e49cb654acb-Paper-Datasets_and_Benchmarks.pdf">PDF ↗</a><a href="http://lmexam.xlore.cn.">Repository ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>(1) We instruct the LM examiner to generate questions across a multitude of domains to probe for a broad acquisition, and raise follow-up questions to engage in a more in-depth assessment. (2) Upon evaluation, the examiner combines both scoring and ranking measurements, providing a reliable result as it aligns closely with human annotations. (3) We additionally propose a decentralized Peer-examination method to address the biases in a single examiner.</p></details></article>

<article class="publication"><p class="paper-venue">Findings of ACL 2023</p>
<h3>Learn to Not Link: Exploring NIL Prediction in Entity Linking</h3>
<p class="paper-authors">Fangwei Zhu, <b>Jifan Yu</b>*, Hailong Jin, Juanzi Li, Lei Hou, Zhifang Sui</p>
<div class="paper-links">
<a href="https://github.com/solitaryzero/NIL_EL">Dataset &amp; Code ↗</a><a href="https://arxiv.org/pdf/2305.15725.pdf">PDF ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>We propose an entity linking dataset NEL focuses on the NIL prediction problem. NEL takes entities that share an alias with other entities as seeds, collects relevant mention context in the Wikipedia corpus, and ensures the presence of mentions linking to NIL by human annotation and entity masking.</p></details></article>
