<article class="publication"><p class="paper-venue">CIKM 2021</p>
<h3>MOOCCubeX: A Large Knowledge-centered Repository for Adaptive Learning in MOOCs <span class="paper-award"><i>(Best Resource Paper Nomination)</i></span>
</h3>
<p class="paper-authors"><b>Jifan Yu</b>, Yuquan Wang, Qingyang Zhong, Gan Luo, Yiming Mao, Kai Sun, Wenzheng Feng, Wei Xu, Shulin Cao, Kaisheng Zeng, Zijun Yao, Lei Hou, Yankai Lin, Peng Li, Jie Zhou, Bin Xu, Juanzi Li, Jie Tang, Maosong Sun</p>
<div class="paper-links">
<a href="https://lfs.aminer.cn/misc/moocdata/publications/mooccubex.pdf">PDF ↗</a><a href="https://github.com/THU-KEG/MOOCCubeX">Code ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>We present MOOCCubeX, a large, knowledge-centered repository consisting of 4,216 courses, 230,263 videos, 358,265 exercises, 637,572 fine-grained concepts and over 296 million behavioral data of 3,330,294 students, for supporting the research topics on adaptive learning in MOOCs.</p></details></article>


<article class="publication"><p class="paper-venue">ACL 2021</p>
<h3>Interpretable and Low-Resource Entity Matching via Decoupling Feature Learning from Decision Making</h3>
<p class="paper-authors">Zijun Yao, Chengjiang Li, Tiansi Dong, Xin Lv, <b>Jifan Yu</b>, Lei Hou, Juanzi Li, Yichi Zhang and Zelin Dai</p>
<div class="paper-links">
<a href="https://arxiv.org/abs/2106.04174">PDF ↗</a><a href="https://github.com/THU-KEG/HIF-KAT">Code ↗</a><a href="http://transirius.github.io/files/kat.pdf">Slide ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>We propose to decouple the representation learning stage and the decision making stage to fully utilize unlabeled data for entity matching task.</p></details></article>

<article class="publication"><p class="paper-venue">WISE 2021</p>
<h3>Expertise-Aware Crowdsourcing Taxonomy Enrichment</h3>
<p class="paper-authors">Yuquan Wang, Yanpeng Wang, Yiming Mao, <b>Jifan Yu</b>, Kaisheng Zeng, Lei Hou, Juanzi Li, Jie Tang</p>
<div class="paper-links">
<a href="https://link.springer.com/chapter/10.1007/978-3-030-90888-1_2">PDF ↗</a><a href="https://github.com/THU-KEG/ECTE">Code ↗</a>
</div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this work, we propose a unified crowdsourcing framework to mitigate both challenges. It leverages the skill locality of workers with a Graph Gaussian Process model.</p></details></article>

<article class="publication"><p class="paper-venue">ICPCSEE 2021</p>
<h3>Learning Behavior-Aware Cognitive Diagnosis for Online Education Systems</h3>
<p class="paper-authors">Yiming Mao, Bin Xu, <b>Jifan Yu</b>, Yifan Fang, Jie Yuan, Juanzi Li, Lei Hou</p>
<div class="paper-links"></div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this paper, a learning behavior-aware cognitive diagnosis (LCD) framework is proposed for students’ cognitive modeling with both learning behavior records and exercising records.</p></details></article>
