<article class="publication"><p class="paper-venue">ACL 2019</p>
<h3>Course Concept Expansion in MOOCs with External Knowledge and Interactive Game</h3>
<p class="paper-authors"><b>Jifan Yu</b>, Chenyu Wang, Gan Luo, Lei Hou, Juanzi Li, Jie Tang, Zhiyuan Liu</p>
<div class="paper-links"><a href="https://aclanthology.org/P19-1421/">PDF ↗</a></div>
<details class="paper-abstract"><summary>About this paper</summary><p>In this paper, we first build a novel boundary during searching for new concepts via external knowledge base and then utilize heterogeneous features to verify the high-quality results. In addition, to involve human efforts in our model, we design an interactive optimization mechanism based on a game.</p></details></article>
