<article class="publication"><p class="paper-venue">CCKS 2018</p>
<h3>Predicting Concept-based Research Trends with Rhetorical Framing</h3>
<p class="paper-authors"><b>Jifan Yu</b>, Liangming Pan, Juanzi Li, Xiaoping Du</p>
<div class="paper-links"><a href="http://www.liangmingpan.com/files/publications/CCKS18_Paper.pdf">PDF ↗</a></div>
<details class="paper-abstract"><summary>About this paper</summary><p>The existing researches mainly use topics extracted from literatures as objects to build predicting model. To get more accurate results, we use concepts instead of topics constructing a model to predict their rise and fall trends, considering the rhetorical characteristics of them.</p></details></article>
